// Configuration for Neutron wallet
const neutron_testnet_accounts = [
  {
    name: 'account_0',
    address: '',
    mnemonic: ''
  },
];

const neutron_mainnet_accounts = [
  {
    name: 'account_0',
    address: '',
    mnemonic: ''
  },
];

// Configuration for archway wallet
const archway_testnet_accounts = [
  {
    name: 'account_0',
    address: '',
    mnemonic: ''
  },
];

const archway_mainnet_accounts = [
  {
    name: 'account_0',
    address: '',
    mnemonic: ''
  },
];

// Networks configuration
const networks = {
  neutron_testnet: {
    endpoint: 'https://rpc-palvus.pion-1.ntrn.tech/',
    chainId: 'pion-1',
    accounts: neutron_testnet_accounts,
    fees: {
      upload: {
        amount: [{ amount: "90000", denom: "untrn" }],
        gas: "4000000",
      },
      init: {
        amount: [{ amount: "20000", denom: "untrn" }],
        gas: "1000000",
      },
      exec: {
        amount: [{ amount: "20000", denom: "untrn" }],
        gas: "1000000",
      }
    },
  },
  neutron_mainnet: {
    endpoint: 'https://rpc-kralum.neutron-1.neutron.org',
    chainId: 'neutron-1',
    accounts: neutron_mainnet_accounts,
    fees: {
      upload: {
        amount: [{ amount: "90000", denom: "untrn" }],
        gas: "4000000",
      },
      init: {
        amount: [{ amount: "20000", denom: "untrn" }],
        gas: "1000000",
      },
      exec: {
        amount: [{ amount: "20000", denom: "untrn" }],
        gas: "1000000",
      }
    },
  },
  archway_testnet: {
    endpoint: 'https://rpc.constantine.archway.tech',
    chainId: 'constantine-3',
    accounts: archway_testnet_accounts,
    fees: {
      upload: {
        amount: [{ amount: "450000000000000000", denom: "aconst" }],
        gas: "3000000",
      },
      init: {
        amount: [{ amount: "30000000000000000", denom: "aconst" }],
        gas: "200000",
      },
      exec: {
        amount: [{ amount: "45000000000000000", denom: "aconst" }],
        gas: "300000",
      }
    },
  },
  archway_mainnet: {
    endpoint: 'https://rpc.mainnet.archway.io',
    chainId: 'archway-1',
    accounts: archway_mainnet_accounts,
    fees: {
      upload: {
        amount: [{ amount: "450000000000000000", denom: "aarch" }],
        gas: "3000000",
      },
      init: {
        amount: [{ amount: "30000000000000000", denom: "aarch" }],
        gas: "200000",
      },
      exec: {
        amount: [{ amount: "45000000000000000", denom: "aarch" }],
        gas: "300000",
      }
    },
  }
};

module.exports = {
  networks: {
    default: networks.neutron_testnet,
    neutron_testnet: networks.neutron_testnet,
    neutron_mainnet: networks.neutron_mainnet,
    archway_testnet: networks.archway_testnet,
    archway_mainnet: networks.archway_mainnet,
  },
  mocha: {
    timeout: 60000
  },
  rust: {
    version: "1.68.0",
  },
  commands: {
    compile: "RUSTFLAGS='-C link-arg=-s' cargo build --release --target wasm32-unknown-unknown",
    schema: "cargo run --example schema",
  },
};
